html, body {
	margin: 0px;
	height: 100%;
}

#footerfix {
	min-height: 100%;
}

#header {
	height: 54px;
	padding: 10px;
	overflow: hidden;
	background-color: white;
	border-bottom: 2px solid black;

	img {
		float: left;
		margin-right: 10px;
		width: 64px;
	}

	h1 {
		margin: 0px;
	}
}

#breadcrumb {
	background-color: white;
	border-bottom: 2px solid black;
	overflow: auto;
	padding: 10px;
	padding-left: 0px;
	padding-right: 250px;

	ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;

		li {
			margin: 0px;
			padding: 0px;
			padding-left: 10px;
			float: left;
			&:not(:last-child):after {
				padding-left: 10px;
				content: ">";
			}
		}
	}
}

#main-container {
	padding-bottom: 50px;
	margin-right: 250px;
}

#sidemenu {
	width: 168px;
	border-right: 2px solid black;
	float: left;
	font-size: 18px;
	background-color: white;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		li {
			position: relative;
			height: 64px;
			border-bottom: 2px solid black;

			a {
				display: block;
				padding-left: 10px;
				line-height: 64px;
				color: black;
				text-decoration: none;
			}

			&.current {
				background-color: #DDD;
				font-weight: bold;

				&:after {
					top: 0px;
					right: 3px;
					line-height: 64px;
					position: absolute;
					font-weight: bold;
					font-size: 24px;
					content: ">";
				}
			}
		}
	}
}

#content {
	margin-left: 170px;
	//border-left: 2px solid black;
	padding: 0px;
	background-color: white;
}

#footer {
	border-top: 2px solid #000;
	clear: both;
	padding: 10px;
	margin-top: -50px;
	padding-right: 250px;
}

#right-panel {
	width: 200px;
	position: fixed;
	right: 0px;
	top: 74px;
	bottom: 0px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	background-color: white;

	#contact-categories {
		position: absolute;
		top: -35px;
		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			li {
				float: left;
				border: 2px solid black;
				margin-left: 2px;
				padding: 5px;
				height: 21px;
				background-color: #EEE;
				&.current {
					border-bottom-color: white;
					background-color: white;
				}
			}
		}
	}

	#contact-container {
		overflow-y: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 50px;

		ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;

			li {
				border-bottom: 2px solid black;
				overflow: auto;
				line-height: 51px;
				padding-left: 10px;

				img {
					float: right;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}

	}
	.search {
		position: absolute;
		bottom: 0px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 5px;
		height: 50px;
		border: none;
		border-top: 2px solid black;
		&:focus {
			outline: none;
		}
	}
}